{% extends 'polls/base.html' %}

{% block content %}
{% if latest_film_list %}
    <div class="container">
        <ul class="film__list">
            <div class="genre_position">
                <form action="{% url 'year' %}" method="get">
                    <div class="div_genre">
                    {% for genre in view.get_genre %}
                        <li class="li_genre">
                            <label><input type="checkbox" name="genre" value="{{ genre.id }}"> {{ genre.genre }}</label>
                        </li>
                    {% endfor %}
                    </div>
                    <div class="div_genre div_year">
                        {% for year in view.get_year %}
                            <li class="li_genre">
                                <label><input name="year" value="{{ year }}" type="checkbox"> {{ year }}</label>
                            </li>
                        {% endfor %}
                        <button class="btn-form-genre" type="submit">Найти</button>
                    </div>
                </form>
            </div>
        {% for film in latest_film_list %}
            <li class="list__item">
                <a class="list__text" href="{% url 'detail' film.id %}">{{ film.name }}</a>
                {% for choice in film.image_set.all %}<img class="banner_img" src="/media/{{ choice.image }}" alt="">{% endfor %}
                {% if film.rating > 7 %}
                    <p class="good list__item-text">Рейтинг: {{ film.rating }}</p>
                {% elif film.rating < 5 %}
                    <p class="bad list__item-text">Рейтинг: {{ film.rating }}</p>
                {% else %}    
                    <p class="medium list__item-text">Рейтинг: {{ film.rating }}</p>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <nav class="list-page">
            <ul class="list-ul">
                {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="selected-li">{{ p }}</li>
                        {% else %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endif %}
                {% endfor %}
            </ul>
        </nav>
{% else %}
        <p>No polls are available.</p>    
{% endif %}
    </div>
{% endblock %}
