@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 80px;
  background: grey;
  border-radius: 25px;
  width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav__text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.nav__text:hover {
  cursor: pointer;
  color: aqua;
}

.film__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner_img {
  min-height: 443px;
  max-height: 443px !important;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}

.list__text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}
.list__text:hover {
  cursor: pointer;
  color: grey;
}

.list__item-text {
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
}

.good {
  padding: 2px 0px;
  background-color: #44944A;
  color: white;
  border-radius: 25px;
}

.medium {
  padding: 2px 0px;
  background-color: #A5A5A5;
  color: white;
  border-radius: 25px;
}

.bad {
  padding: 2px 0px;
  background-color: #9B2D30;
  color: white;
  border-radius: 25px;
}

#id_release_film {
  required: None;
}

.container-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

.detail__form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail__form-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail__form-item-text > div:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detail__form-item-text > div:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.detail__form-item-text > div:nth-child(5) > span {
  margin-top: 30px;
}
.detail__form-item-text > div:nth-child(5) > div > p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-right: 50px;
  text-align: center;
}
.detail__form-item-text > div {
  margin-left: 105px;
}
.detail__form-item-text > div > p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-right: 50px;
}
.detail__form-item-text > div > span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.detail__form-item-text > div > p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.detail__form-item-text > div > p:last-child > span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}
.detail__form-item-text > div:last-child {
  margin-top: 170px;
}

.banner_img {
  max-height: 800px !important;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}

.form__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__filter > * {
  margin-right: 10px;
}
.form__filter > select {
  overflow-y: scroll;
  height: 16;
}

.form__select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 15px;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 10px;
}
.btn-form {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: #454141;
  border: none;
  opacity: 0.7;
}
.btn-form:hover {
  opacity: 1;
}

.input__nav {
  width: 200px;
  height: 30px;
  padding-left: 3px;
  border-radius: 10px;
  border: none;
}
.input__nav:hover {
  border: none;
}

.input__btn {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: #454141;
  border: none;
  opacity: 0.7;
}
.input__btn:hover {
  opacity: 1;
}